NEXT_PUBLIC_SUPABASE_URL=your-local-supabase-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-local-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-local-supabase-service-role-key

RESEND_API_KEY=your-resend-api-a